# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.qtvscr


EMCR.pro.user
Protocols/*
.qmake.stash
.vs/
EMCR.vcxproj.user
EMCR_resource.rc
debug/
release/
EMCR_resource.aps
*.bit
*.pdb

FW/
mocinclude.opt
